<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Restaurantes</title>
</head>
<body>
    <h1>Lista de Restaurantes</h1>
    <ul>
        <% restaurantes.forEach(restaurante => { %>
            <li>
                <h2><%= restaurante.Nombre %></h2>
                <p><strong>Tipo:</strong> <%= restaurante.Tipo %></p>
                <p><strong>Dirección:</strong> <%= restaurante.Direccion %></p>
                <p><strong>Teléfono:</strong> <%= restaurante.Telefono %></p>
                <img src="<%= restaurante.Img %>" alt="<%= restaurante.Nombre %>">
            </li>
        <% }); %>
    </ul>
</body>
</html>
